
@{
    ViewBag.Title = "Create";
}

<h2>Create New Product</h2>

<form method="post">
    <label id="lbName"> Enter Name</label>
    <input class="form-control" id="name" name="Name" />
    <br />
    <label id="lbDescription">Enter Description</label>
    <input class="form-control" id="description" name="Description" />
    <br />
    <label id="lbPrice">Enter Price</label>
    <input class="form-control" id="price" name="Price" />
    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>

