@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}


<div id="product_table">
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>-</td>
                    <td>@p.Description</td>
                    <td>@p.Price </td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>





