
@{
    ViewBag.Title = "Create";
}

<h2>Create New Category</h2>

<form method="post">
    <label id="lbName"> Enter Name</label>
    <input class="form-control" id="name" name="Name"/>
    <br />
    <label id="lbDescription">Enter Description</label>
    <input class="form-control" id="description" name="Description" />
    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>
