@model List<ClothesStore_Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(var cat in Model)
            {
                <h2>@cat.Name</h2>
                <h3>@cat.Description</h3>
            }

